<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-inner">
        <%= link_to root_path do %>
          <h2 class="logo">BlogApp</h2>
        <% end %>

        <div class="nav-links">
          <% if user_signed_in? %>
            <span><%= current_user.email %></span>
          
           <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </nav>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
